<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<% include navbar %>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="col-sm-12 text-danger error"></div>
				<form action="/loginProcess" method="post">
					<div class="col-sm-12">
						<input type="email" name="email" placeholder="Enter your email" />
					</div>

					<div class="col-sm-12">
						<input type="password" name="password" placeholder="Enter your password" />
					</div>
					<div class="col-sm-12">
						<button class="btn btn-success" type="submit">Reigster</button>
					</div>

				</form>
			</div>
		</div>
	</div>

</body>
</html>
