<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/favorites">Favorites</a></li>
      <li>
          <form action="/search" method="post" id="search-form" class="form-inline">
            <input type="text" id="movie" placeholder="Movie Title" name="movieSearch" />
            <input type="text" placeholder="Actor Name" name="actorSearch" />
            <input type="submit" class="btn btn-primary" />
          </form>
      </li>      
    </ul>
  </div>
</nav>