<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <% include search %>
                <h1>Your ip is <%=ip%></h1>
                <% parsedData.forEach((movie)=>{ %>
                    <div class="col-sm-3">
                        <img src="<%= imageBaseUrl + movie.poster_path%>" />
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</body>
</html>